/*clearfix not used at the minute, but kept around in case*/
.cf:after{
	content: '';
	display: table;
	clear: both;
}

/*general sizing*/
body {
	padding: 0; 
	margin: 0;
	color: #000;
	background: #fff;
	font-family: 'Roboto', sans-serif;
	/*line-height: 1.4em;*/
}

#container{
	box-sizing: border-box;
	max-width: 700px;
	min-height: 100vh;
	background: #fff;
	margin: auto;
	padding: 0 10px;
}

/*type etc*/
h1{
	margin: 0.2em 0 0.2em 0;
}

h2{
	margin: 0.6em 0 0.2em 0;
}

h3{
	margin: 0.4em 0 0.1em 0;

}

h5{
	margin: 0.4em 0 0.5em 0;
}

.banner{
	position: relative;
	min-height: 300px;
}

.logo{
	position: relative;
	z-index: 2;
	font-family: 'Roboto Mono', sans-serif;
	color: #000;
	background: rgba( 0, 0, 0, 0);
}

.logo span{
	color: #777;
	text-transform: lowercase;
}

/*styling homepage banner*/
#bannerSketchContainer{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.date{
	text-align: right;
}

p{
	margin: 0;
	padding-bottom: 0.8em;
	line-height: 1.5em;
}

a{
	color: #000;
	text-decoration: none;
}

a:hover, a:focus, a:active{
	color: #ff3c1a;
}

/*nav and header*/
header{
	width: 100%;
	text-align: center;
	margin-bottom: 2em;
}

nav {
	margin: 0 auto;
}

nav a{
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	padding: 10px 20px;
	border-right: 1px solid #777;
}

nav a:last-child{
	border: none;
}

nav a.current{
	border-bottom: 1px solid #777;
}

/*links*/
p a{
	text-decoration: underline;
	color: #ff3c1a;
}

p a:hover, p a:focus, p a:active{
	color: #000;
}

/*excerpts etc on blog page*/
.moreLink{
	display: block;
	text-align: right;
	font-size: 2em;
	color: #ff3c1a;
	line-height: 0.7em;
}

.moreLink:hover, .moreLink:focus, .moreLink:active{
	color: #000;
}

div.postExcerpt{
	/*margin-top: 1em;*/
	/*margin-bottom: 1em;*/
	padding-top: 1em;
	padding-bottom: 1em;
	border-top: 1px solid #777;
}


/*footer stuff*/
footer{
	box-sizing: border-box;
	max-width: 700px;
	background: #fff;
	margin: auto;
	padding: 0 10px;
	border-top: 1px solid #777;
	padding-top: 1em;
}


/*only add border to bigger screens*/
@media (min-width: 700px){
	#container{
		border-left: 1px solid #777;
	}

	body{
		font-size: 20px;
	}

	.logo {
		font-size: 2em;
	}

	.logo p {
		font-size: 0.5em;
	}

	.banner{
		min-height: 500px;
	}
	.thingLink div h2{
		font-size: 2.4em;
	}
}
